SCRIPT="${0##*/}"

# Print help menu.
# Arguments and Variables:
#     ${SCRIPT}: Name of the script
help()
{
    printf "%s\n" "Usage: ${SCRIPT} [OPTION...]

Options:
  -h, --help        Display this help and exit"
}
