SCRIPT="${0##*/}"

# Display help menu.
# Arguments and Variables:
#     ${SCRIPT}: Name of the script
display_help() {
    printf "%s\n" "Usage: ${SCRIPT} [OPTION...]
short_description_of_script

Options:
  -h, --help            Display this help and exit"
}
