# Read without printing the message to screen.
# Arguments and Variables:
#     $@: Variable to read to
read_s() {
    stty -echo

    trap "stty echo" EXIT
    IFS= read -r "$@"
    stty echo
    trap - EXIT

    printf "\n"
}
