REQ_UNMET_DEP_COUNT=0

while IFS="|" read -r cmd pkg; do
    if ! command -v "${cmd}" >/dev/null 2>&1; then
        [ -n "${pkg}" ] && msg="Install the '${pkg}' package." || msg=""
        error "The command '${cmd}' not found!${msg}"
        REQ_UNMET_DEP_COUNT="$((REQ_UNMET_DEP_COUNT + 1))"
    fi
done <<EOF

EOF

[ "${REQ_UNMET_DEP_COUNT}" -gt 0 ] && exit 1
